/* styles.css for Betting Exchange dApp with Teal and Gold theme */

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
    background-color: #f1f9f9;  /* Lighter shade of teal for background */
    color: #333;
}

h1, h2 {
    font-weight: bold;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #008080;  /* Teal */
    color: #FFD700;  /* Gold */
    padding: 1rem;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    margin-bottom: 1rem;
}

#address, #bet-balance {
    margin: 0.5rem 0;
}

section {
    background-color: #fff;
    border: 2px solid #008080;  /* Border color as Teal */
    border-radius: 5px;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 128, 128, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    margin-bottom: 1.5rem;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #008080;  /* Teal for label text */
}

input[type="number"], input[type="text"] {
    padding: 0.5rem;
    border: 1px solid #008080;  /* Border color as Teal */
    border-radius: 3px;
    margin-bottom: 1rem;
}

button {
    background-color: #008080;  /* Teal */
    border: none;
    color: #FFD700;  /* Gold */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s;  /* Smooth transition for hover effects */
}

button:hover {
    background-color: #005757;  /* Darker Teal for hover */
}

#error-message {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    text-align: center;
    color: #FF4500;  /* Red color for error, can be changed if needed */
    margin-bottom: 1rem;
}

#available-bets, #active-bets {
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 3px;
    min-height: 100px;  /* Ensures that even if there are no bets, there's still a visual box */
}